# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Python
# =====================
__pycache__/
*.pyc

# =====================
# Jupyter / Databricks
# =====================
.ipynb_checkpoints/
.databricks/
*.dbc

# =====================
# IDEs
# =====================
.vscode/
.idea/

# =====================
# Logs & temp
# =====================
*.log
